{% load static %}
{% load custom_tags %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/announcement.css" %}"/>
{% endblock head %}

{% block content %}
    <div class="announcement">
        <div class="top-of-announce">
            <div class="avatar">
                {% for avatar in avatars %}
                    {% if avatar.author_id == announcement.author.id %}
                        <img src="{{ avatar.image_url }}" alt="Avatar">
                    {% endif %}
                {% endfor %}
            </div>
            <div class = "name-timestamp">
                <div class="name">
                    {% for guild_id in guild_ids %}
                        {% if guild_id.id == announcement.author.id %}
                            {% if guild_id.guild_nick != "NO UNIQUE NAME" %}
                                {{ guild_id.guild_nick }}
                            {% elif announcement.author.display_name != None %}
                                {{ announcement.author.display_name }}
                            {% else %}
                                {{ announcement.author.username }}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="timestamp">
                    {{ announcement.timestamp|to_date|date:"F j, Y H:i" }}
                </div>
            </div>
        </div>
        <div class="content">
            <p>{{ announcement.content|linebreaks }}</p>
        </div>
    </div>
{% endblock content %}