{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>University of Glasgow LGBTQ+ Society</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/custom-fonts.css" %}"/>
    <link rel="icon" type="image/x-icon" href = "{% static "img/favicon.ico" %}"/>
    {% block head %} {% endblock head %}
</head>
<body>
    {% block content %} {% endblock content %}
</body>
</html>



