<hr>
At the top of this website, you will find a quick "Escape!" button, this will take you to the homepage of BBC weather, we've put that here so that you can inconspicuously browse something else if you live in a non-accepting home. We chose BBC weather because it's a bit more believable to be looking at that than a simple Google screen
<br>
Licensed under Creative Commons
<br>
Thanks to OULGTBQ+ for being kind enough to publicly license their site because I'm not a website designer
<br>
Also thanks to the doodle pack from icons8 for having high-quality free-to-use icons!