{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/announcement.css" %}"/>
{% endblock head %}

{% block content %}
<div class="discord-event">
  <div class="event-header">
    <div class="event-name">Event Name</div>
  </div>
  <div class="event-details">
    <div class="detail-row">
      <span class="detail-label">Date:</span>
      <span class="detail-value">June 10, 2023</span>
    </div>
    <div class="detail-row">
      <span class="detail-label">Time:</span>
      <span class="detail-value">7:00 PM</span>
    </div>
    <div class="detail-row">
      <span class="detail-label">Location:</span>
      <span class="detail-value">Discord Server</span>
    </div>
  </div>
  <div class="event-description">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum, urna eget consectetur elementum, lacus elit fermentum dolor, sed facilisis eros ligula ut urna.
  </div>
</div>
{% endblock content %}