{% load static %}
<div class="top-bar">
    <div class="logo">
        <!-- Replace the image path with your own logo using the static template tag -->
        <img src="{% static 'img/logo.png' %}" alt="Logo">
    </div>
    <div class="menu-options">
        <a href="#">About Us</a>
        <a href="#">Meet the Committee</a>
        <a href="https://bbc.co.uk/weather">Escape!</a>
    </div>
    <div class="menu-icons-container">
        <a class="menu-icons" href="https://www.facebook.com/gulgbtqplus/">
            <img src="{% static 'img/facebook.png' %}" alt="Facebook Icon">
        </a>
        <a class="menu-icons" href="https://www.instagram.com/gulgbtqplus/">
            <img src="{% static 'img/instagram.png' %}" alt="Instagram Icon">
        </a>
        <a class="menu-icons" href="https://linktr.ee/GULGBTQplus">
            <img src="{% static 'img/tree.png' %}" alt="Tree">
        </a>
    </div>
</div>