.announcement {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 20px;
  background-color: #313338;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

.announcement:hover {
  background-color: #2E3035;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  flex: 1;
  font-family: cotext, sans-serif;
}

h3 {
  margin: 0;
  padding-right: 50px;
  font-size: 25px;
  font-weight: bold;
  max-width: 100px;
  min-width: 100px;
  text-align: center;
}

p {
  font-size: 20px;
  max-width: fit-content;
  padding-right: 10px;
}

.top-of-announce  {
  display: flex;
  flex-direction: row;
}

.name {
  font-size: 20px;
  font-family: cotextbold, sans-serif;
  color: #E91E63
}

.timestamp  {
  font-family: cotext, sans-serif;
  color: #7B9696;
  font-size: 13px;
}