@font-face {
  font-family: 'ggsans';
  src: url('../fonts/ggsans/ggsans-Bold.woff2') format('woff2'),
       url('../fonts/ggsans/ggsans-Bold.woff') format('woff'),
       url('../fonts/ggsans/ggsans-Bold.eot') format('eot'),
       url('../fonts/ggsans/ggsans-Bold.ttf') format('ttf');
}

@font-face {
    font-family: 'cotextbold';
    src: url('../fonts/cotext/cotext.otf') format('otf')
}

@font-face {
    font-family: 'cotext';
    src: url('../fonts/cotext/cotextbold.otf') format('otf')
}

@font-face {
    font-family: 'swiss721';
    src: url('../fonts/swiss721/swiss721.ttf') format('ttf')
}