body, html {
    width: 100%;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.logo {
    max-width: 100%; /* Adjust the maximum width of the logo as needed */
    margin-bottom: 20px;
    filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.5)); /* Add a drop shadow effect */
}

.menu-options {
    display: flex;
    justify-content: center;
    font-family: cotext, sans-serif;
}

.menu-options a {
    margin: 0 10px;
    /* Add any additional styles for your menu options */
}

.menu-icons-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.menu-icons {
  display: flex;
    padding-right: 10px;
}


.menu-icons img {
  max-width: 50px;
  max-height: 50px;
}
